<table>
  <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prénom</th>
  </tr>
  <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.nom }}</td>
      <td>{{ user.prenom }}</td>
  </tr>
</table>